<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<nav class="navbar navbar-inverse container-fluid navbar-fixed-top">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" 

            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" 

            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand" >Profile App</p>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div *ngIf="email" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li [class]="home" (click)="activateHome()" ><a routerLink="allprofile">
                <span class="glyphicon glyphicon-home"></span> 
                Home</a></li>
                <li [class]="profile" (click)="activateProfile()" ><a routerLink="profile">
                <span class="glyphicon glyphicon-user"></span>  
                Profiles</a></li>
                

            </ul>
            <ul class="nav navbar-nav navbar-right" (click)="logout()" >
                    <li><a>
                            <span class="glyphicon glyphicon-log-out"></span>  
                            LogOut</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet (activate)="componentAdded($event)"></router-outlet>
