
<div *ngIf="show" class="login-page">
  <div class="form">
    <form #registerform (ngSubmit)="signUp(registername.value)" id="register-form" *ngIf="register">
      <input type="email" #registername placeholder="name" required/>
      <input type="password" name="pass" [(ngModel)]='registerpassword' placeholder="password" required/>
      <input type="password" name="repass" [(ngModel)]='registerrepassword' placeholder="Reenter password" required/>
      <button type="submit" [style.background-color]="!same()?'lightgray':'green'" >create</button>

      <p class="message">Already registered?  <a (click)="toggle()" href="#">Sign In</a></p>
    </form>

    <form class="login-form" (ngSubmit)=login(email.value,pass.value)  *ngIf="!register"  #loginform >
    <input type="email" #email  placeholder="email" />
      <input type="password" #pass placeholder="password" />
     <button  type="submit" >LogIn</button>
      <p class="message">Not registered? <a (click)="toggle()" href="#">Create an account</a></p>
    
    </form>
    <p style="color:red"> {{error}}</p>
  </div>
</div>